*.iml
*.ipr
*.iws
*.pyc
.idea
.svn
.classpath
.project
.settings
target/
/conf
/slider-core/src/test/resources/slider-test.xml
/test-configs
release.properties
*.backup
*.versionsBackup
slider-test.xml
build.properties
