*.iml
*.ipr
*.iws
*.pyc
.idea
.svn
.classpath
.project
.settings
/target
/conf
/slider-core/target
/slider-core/src/test/resources/slider-test.xml
/slider-agent/target
/slider-funtest/target
/slider-assembly/target
/slider-providers/hbase/slider-hbase-provider/target
/slider-providers/hbase/hbase-funtests/target
/slider-providers/accumulo/slider-accumulo-provider/target
/slider-providers/accumulo/accumulo-funtests/target
/test-configs
release.properties
*.backup
*.versionsBackup
slider-test.xml
build.properties
